.partner {
    min-height: 280px;
    padding: 3px;
    overflow: hidden;
}

.partner img {
    height: 100%;
}

.partner h5 {
    font-size: 16px;
}

.partner p {
    word-break: break-word;
    font-size: 12px;
}

.flip-card {
    background-color: transparent;
    width: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #ffffff;
    color: inherit;
}

.flip-card-front img {
    /*width: 196px;
    height: 196px;
    border: 0;*/
}

.flip-card-back {
    background-color: #ffffff;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 15px;
}

@media only screen and (min-width: 1600px) {
    .container-xl {
        max-width: 1600px;
    }
}


.error.help-block, #card-modal-errors {
    position: absolute;
    width: 100%;
    top: 43px;
    color: #dc3545;
    font-size: 12px;
}

#profilePopupForm .error.help-block {
    position: initial;
}

#card-modal-errors {
    position: initial;
    margin-top: 5px;
}
.jeeni-checkbox-container .error.help-block {
    top: 55px;
}


/* loader css */
#jeeniLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #cccccc;
    border-radius: 50%;
    border-top: 16px solid #dc3545;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loaderContainer {
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000; /* Just to keep it at the very top */
}

.selectBox {
    border: 1px solid #767676;
    position: relative;
    padding: 7px 12px;
    cursor: pointer;
}
.selectBox__value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #6c757d;
}
/*.selectBox:after {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: all 0.2s ease-in-out;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.001' height='8.165' viewBox='0 0 14.001 8.165'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23212121; %7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M13.861,60.224l-.7-.7a.441.441,0,0,0-.645,0L7,65.036,1.487,59.522a.441.441,0,0,0-.645,0l-.7.7a.441.441,0,0,0,0,.645l6.537,6.538a.441.441,0,0,0,.645,0l6.538-6.538a.442.442,0,0,0,0-.645Z' transform='translate(0 -59.382)'/%3E%3C/svg%3E");
}*/
.selectBox .dropdown-menu {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: block;
    top: 100%;
    width: 100%;
    max-height: 250px;
    left: 0;
    z-index: -1;
    overflow-y: auto;
    transform: translateY(-15%);
    visibility: hidden;
}
/*.selectBox:after {
    color: #6c757d;
    content: url('../images/icons/form-select.png');
    !* background-image: url(../images/icons/form-select.png); *!
}*/
.selectBox.show {
    background-color: #fff;
}
.selectBox.show:after {
    transform: translateY(-50%) rotate(180deg);
}
.selectBox.show .dropdown-menu {
    transition: all 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
}
.dropdown-item img{
    padding: 0 5px 4px 0;
}

.goog-te-gadget {
    font-family: 'Montserrat', sans-serif !important;
    color: #323230 !important;
    font-size: 15px;
}

.goog-te-gadget-simple {
    background-color: transparent !important;
    color: #858585 !important;
    border: 0 !important;
}
.goog-te-gadget-icon {
    display: none !important;
}

.goog-te-gadget-simple .goog-te-menu-value {
    color: #858585 !important;
    font-size: 15px !important;
}

.goog-te-menu-value span:last-child {
    position: absolute !important;
    right: 10px !important;
}

.goog-te-menu-value span:nth-child(2) {
    border: 0 !important;
}

.showcase-file-upload input[type="file"] {
    display: none;
}
.showcase-file-upload {
    border: 0 solid #ccc;
    display: inline-block;
    padding: 0;
    cursor: pointer;
}

.love-share-add span i {
    cursor: pointer;
}

.flashy__success {
    background : #c3e6cb;
    color: #155724;
    border-color: #c3e6cb;
}

.flashy__danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.body-content {
    /*margin-top: 4.9rem;*/
}

.subscriptions-table thead th {
    color: #e30613;
}

#my-login,
#my-register {
    padding: 10px 15px;
    transition: background 0.4s;
}
#my-login i,
#my-register i {
    margin-right: 10px;
}
#my-login:hover,
#my-register:hover {
    background-color: #424649;
    cursor: pointer;
}
#my-login:hover,
#my-register:hover ul.submenu{
    display: block !important;
}

@media only screen and (max-width: 768px) and (min-width: 100px) {
    .side-navbar {
        margin-top: 115px
    }
    .mobile-special-menu.d-none {
        display: block !important;
    }
}
.side-navbar {
    margin-top: 0;
}
header nav .search-form select,
header nav .search-form input,
header nav .search-form .form-control:focus {
    font-style: normal;
    color: #cecece !important;
}

header nav .search-form select option {
    color: #858585;
}

header nav .search-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cecece !important;
    opacity: 1; /* Firefox */
}

header nav .search-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cecece !important;
}

header nav .search-form input::-ms-input-placeholder { /* Microsoft Edge */
    color: #cecece !important;
}

/* Feedback styling starts */
.feedback-container {
    margin: 0px auto;
    width: 60%;
}

.feedback-card-border{
    border-bottom: 2px solid #e30613;
}

.text-red{
    color: #e30613;
}

.form-check {
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.feedback-card {
    display: none;
}

.form-check input:checked {
    fill: #e30613;
}

.feedback-button {
    border: 1px solid #C9C9C9;
    fill: #C9C9C9;
    color: #C9C9C9;
}

.feedback-button:hover {
    border: 1px solid #e30613;
    fill: #e30613;
    color: #e30613;
}

.submit-btn {
    width: 100%;
    border: 1px solid #e30613;
}

@keyframes checkmarkAnimation {
    100% {
        stroke-dashoffset: 0;
    }
}

.input-wrapper {
    margin: 20px 0;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.125);

}

.fancy-check-label {
    display: inline-block;
    line-height: 24px;
    position: relative;
    user-select: none;
}

.fancy-check-label .checkmark {
    opacity: 0;
}

.fancy-check-label {
    transition: color 0.1s;
}
.fancy-check:checked + .fancy-check-label {
    fill: #e30613;
    color: #e30613;
}

.fancy-check:checked + .fancy-check-label .fancy-checkbox {
    border-color: #e30613;
}

.fancy-check:checked + .fancy-check-label  {
    animation: checkmarkAnimation 0.5s 0s forwards;
}

.fancy-check:checked + .fancy-check-label .checkmark {
    opacity: 1;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    fill: #e30613;
}

.fancy-label--text {
    position: relative;
}

.fancy-checkbox {
    border: solid 2px #888;
    display: block;
    height: 20px;
    position: relative;
    left: 0;
    top: 2px;
    width: 20px;
}

.fancy-checkbox {
    transition: border-color 0.1s;
}

.fancy-checkbox {
    border-radius: 3px;
}

.checkmark {
    height: 20px;
    opacity: 1;
    width: 100%;
    position: absolute;
    left: -4px;
    top: -6px;
    cursor: pointer;
}

.checkmark  {
    stroke: #e30613;
    stroke-width: 2px;
    transform-origin: 50% 50%;
    stroke-miterlimit: 10;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
}
/* Feedback styling ends */

.post-body-content img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.track-controls .d-flex>span {
    padding: 0.5rem !important;
    line-height: 25px;
    cursor: pointer;
    border: 1px solid #40403f;
}

.track-controls span:hover i {
    color: #e30613;
}

.track-social-list {
    cursor: pointer;
    position: relative;
}
#social-links {
    position: absolute;
    width: 100px;
    right: -40px;
    top: 25px;
}
#social-links ul {
    list-style: none;
    padding-left: 0;
}
#social-links ul li {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    float: left;
}
#social-links ul li a {
    color: #FFFFFF !important;
    font-size: 20px;
}
#social-links ul li a:hover {
    color: #e30613 !important;
}

.track-controls .track-social-list {
    cursor: pointer;
    position: relative;
    margin: 0 !important;
    line-height: 25px;
    padding: 0.5rem !important;
}

.track-controls #social-links {
    top: 50px;
    right: -35px;
}

#frmAddShowcase .error.help-block {
    position: initial;
}

.jeeni-navigation {
    z-index: 99;
    background-color: #323230;
}

.track-image-container {
    height: 160px;
    overflow: hidden;
    background: rgb(0,0,0,0.3);
}
.track-image-container-list {
    max-height: 120px;
    overflow: hidden;
    background: rgb(0,0,0,0.3);
    min-height: 120px;
}

.share-container .love-share-add {
    position: initial;
    width: 100%;
    color: red;
}

.tip-content {
    padding: 15px;
}
.tip-content h6 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

input#toggle-password-container, input#jeeni-news-letter {
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
}

@media only screen and (max-width: 767px) and (min-width: 100px) {
    .jeeni-navigation {
        position: initial !important;
        z-index: 99;
        background-color: #323230;
    }
}
